body.mainLayout
{
	background-color:#ff6600;
}
span.mainLayout
{
	bottom : 0;
	right : 0;
}
body.loginLayout
{
	background-color:#ff6600;
}
.loginbox
{
	background-color:white;
	bottom:2;
	display: inline;
}
.loginbtn {
	background-color: white;
	color: #ff6600;
	position: absolute;
	left: 5px;
	bottom: 5px;
	border-radius: 4px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
a:link, a:visited, a:hover, a:active {
    color: #ff6600;
	text-decoration: none;
}
span.loginLayout
{
	bottom : 0;
}
.fblogin
{
	background-color:white
}
.button{
	color: #ff6600;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}